<ion-view>
    <ion-content>
        <body>
         <!--   <button ng-click='closeButton()' id="close" class="button button-icon icon ion-close-circled"></button> -->
            <div class="card">
            <div class="item item-divider">
           
            Thank You
            </div>
            <div class="item item-text-wrap">
            Your Driver Will Be On The Way Soon.
            </div>
                
            <div class="card center">
                 <a href="tel:251-767-9044" class="button button-large button-calm icon-left ion-android-call" id="call">Call Driver</a>
            </div>
            
        </body>
            <div class="landing-ad"></div>
    </ion-content>
</ion-view>