<ion-view>
    <ion-content >
        
         <input class="input" id="origin-input"  class="controls" type="text"
        placeholder="Enter Pickup" ng-focus="disableTap()">

    <input class="input" id="destination-input" class="controls" type="text"
        placeholder="Enter Destination">
        
            
<div id="map" data-tap-disabled="true"></div>
 
        
        <div class="card" id="order">
        <div class="button-bar">    
        <a class="button button-calm icon-left ion-android-bus" id="pickUp">Pick Me Up</a>
        <a href="tel:251-767-9044" class="button button-calm icon-left ion-android-call" id="call">Call</a>
                    
        </div>
        </div>

        <div class="featured"></div>
        </div>   
    </ion-content>
</ion-view>