<ion-view ng-controller="PayCtrl">
    <ion-content>
  <!-- PAYMENT IS A FUTURE CONCEPT -- commented out for later use -->      
        
<body>
  <button ng-click='closeButton()' id="close" class="button button-icon icon ion-close-circled"></button>   
 <div class="card">
        <div class="item item-divider">
           
            Complete Order
  </div>
 <!-- <div class="item item-text-wrap">
    Total Cost Of Ride: ${{cost}}
      <span id="totalCost"></span>
  </div> -->
     
     </div>
    </div>
    <!-- <div class="card">
        <div class="item item-text-wrap">
        <ion-radio ng-model="choice" ng-value="'A'">Credit/Debit</ion-radio>
        <ion-radio ng-model="choice" ng-value="'B'">Cash</ion-radio>
        <p></p>
        </div>
    </div> -->
    <div class="card">
       <div class="item"> 
         <div class="list list-inset">
        <label class="item item-input">
        <input id="firstName" type="text" placeholder="First Name">
        </label>
        <label class="item item-input">
        <input id="lastName" type="text" placeholder="Last Name">
        </label>
        <label class="item item-input">
        <input id="phone" type="text" placeholder="Phone Number">
        </label>
        <label class="item item-input">
        <input id="email" type="text" placeholder="Email">
        </label>
        </div>
          
        <div class="center">
        <button ng-click="orderNow()" class="button button-block button-calm">Order Now</button>
        </div>    
       </div>  
    </div>
      </body>  
        

    </ion-content>
</ion-view>
