
.scroll {
    height: 80%;
}
 
#map {
  
    width: 100%;
    height: 75%;
    position: relative;
}

#order {
    width: 95%;
    text-align: center;
    margin-top: 5%;
    background: #eee;
    padding: 2%;

}

#pac-input {
    font-size: 1.15em;
    padding: 3%;
    width: 80%;
}


.controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #origin-input,
      #destination-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        margin-top: 6%;
        text-overflow: ellipsis;
        width: 45%;
      }

      #origin-input:focus,
      #destination-input:focus {
        border-color: #4d90fe;
      }
.logo {
    width: 40px;
    height: 40px;
    background-image: url("../img/icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.featured {
    width: 100%;
    height: 10%;
    background-image: url("https://www.southernviewmedia.com/testad.png"); 
    background-size: 100%;
    background-repeat: no-repeat;
}

.landing-ad {
    text-align: center;
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    background-size: 95%;
    background-repeat: no-repeat;
    background-image: url("https://www.southernviewmedia.com/testad.png");
}

.center {
    text-align: center;
}

ion-header-bar .title {text-align: center !important;}

.popup-body {text-align: center;}